@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Comfortaa|Istok+Web|Muli');

zadanie {
    display: block;
    margin: 0 auto;
    width: 1045px;
    margin-top: 1%;
    float: center;
    font-family: "Josefin Sans";
    background-color: white;
}


informacje {
    display: block;
    margin: 0 auto;
    width: 100%;
    float: center;
    margin-bottom: 3%;
}

    informacje > tytuł {
        display: block;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 0.8%;
        margin-top: 0.5%;
        border-bottom: solid 2px green;
        font-size: 35px;
        text-align: center;
    }

    informacje > data:before {
        content: "Data utworzenia: ";
    }

    informacje > data {
        margin-right: 0.5%;
        font-size: 0.9em;
        display: block;
        text-align: right;
        font-style: italic;
    }

    informacje > autorzy {
        font-size: 0.9em;
        display: table;
    }

        informacje > autorzy > autor {
            display: table-row;
        }

    informacje + autor > * {
        display: table-cell;
        padding-right: 5px;
    }

liga_piłkarska {
    color: white;
}


klub > nazwa {
    font-family: "Archivo Black";
    font-size: 18px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding-top: 5px;
    padding-bottom: 30px;
}

klub:before {
    content: 'ID: ' attr(klubId);
    color: pink;
}

klub {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    height: 140px;
    width: 230px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 0.5%;
    padding-top: 10px;
    float: right;
    font-size: 12px;
    background-color: #33345C;
    transition: transform .2s ease-in-out;
}

    klub:hover > nazwa {
        font-family: monospace;
        font-size: 15px;
        height: 25px;
        font-weight: bold;
        text-align: center;
        display: block;
        padding-bottom: 3px;
        display: none;
    }

    klub:hover {
        transform: scale(1.2);
        background-color: darkslategrey;
    }



        klub:hover > stadion > pojemność {
            padding-top: 5px;
            display: block;
            color: #bfd9d9;
        }

        klub:hover > trener {
            padding-top: 30px;
            display: block;
            padding-bottom: 3px;
            color: #eff5f5;
        }

        klub:hover > miasto {
            padding-top: 15px;
            text-align: center;
            display: block;
            text-decoration-line: underline;
        }


liga_piłkarska:before {
    display: block;
    content: attr(nazwa) " - " attr(kraj) " " attr(rok);
    font-family: "Bowlby One SC";
    text-align: center;
    font-size: 30px;
    margin: 0.5%;
    padding: 2%;
    background-color: #33345C;
}


klub > miasto {
    text-align: center;
    display: block;
    text-decoration-line: underline;
}

klub > stadion {
    position: relative;
    /*width: 50%;*/
    height: 30%;
    text-align: center;
    display: none;
}

klub > trener {
    text-align: center;
    display: none;
}

klub > tytuły {
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    /*display: none;*/
}

klub > miasto:before {
    content: "Miasto: ";
}

klub > stadion > nazwa:before {
    content: "Stadion: ";
}

klub > stadion > pojemność:before {
    content: "Pojemność: ";
}

klub > trener:before {
    content: "Trener: ";
}

klub > tytuły[typ="mistrzostwo"]:before {
    content: "Mistrzostwa Anglii: ";
}

klub > tytuły[typ="puchar"]:before {
    content: "Puchar Anglii: ";
}


stadiony:before {
    display: block;
    content: "CENY BILETÓW";
    font-family: "Josefin Sans";
    color: #33345C;
    text-align: center;
    font-size: 27px;
    /*border-bottom: solid 2px green;*/
    background-color: white;
}

stadion {
    display: block;
    font-size: 16px;
    font-family: "Josefin Sans";
    color: black;
    /*border: 1px dotted black;*/
    width: 320px;
    height: 120px;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 40px;
    float: right;
}

    stadion:before {
        display: inline-block;
        content: "Nazwa stadionu: ";
        color: green;
        padding-bottom: 5px;
    }

    stadion pojemność:before {
        display: block;
        content: "Pojemność: ";
        color: green;
    }

    stadion bilet:after {
        content: " zł ";
    }

    stadion bilet[typb="ulgowy"]:before {
        display: block;
        content: "Cena biletu ulgowego: ";
        color: green;
    }

    stadion bilet[typb="normalny"]:before {
        display: block;
        content: "Cena biletu normalnego: ";
        color: green;
    }


mecze:before {
    display: block;
    content: "TERMINARZ";
    font-family: "Josefin Sans";
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 2px;
    padding: 10px;
    background-color: #33345C;
}

mecze {
    display: table;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 5px solid #33345C;
    margin: 0 auto;
    table-layout: fixed;
    margin-bottom: 5%;
    color: black;
    text-align: center;
}
    

mecze mecz:before {
        display: table-cell;
        /*width: 80%;*/
        width: 410px;
        content: "ID klubów [" attr(klubId) "] Stadion: " attr(stadionId);
        padding: 5px;
        border-bottom: solid 2px green;
    }

mecz mecz:after {
    content: "Stadion: " attr(stadionId);
}

mecze mecz > data:before {
    content: " data meczu: ";
}


mecze mecz > data {
    /*width: 70%;*/
    width: 300px;
    border-bottom: solid 2px green;
    display: table-cell;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
}
